@import "cssreset";
@import "colorvars";

// MIXINS

@mixin center($layout: flex, $middle: center) {
  display: $layout;
  align-content: $middle;
  justify-content: $middle;
}

@mixin nav-align($layout: flex, $middle: center) {
  display: $layout;
  align-items: $middle;
  justify-content: $middle;
}

@mixin center-header($layout: flex, $middle: center) {
  display: $layout;
  align-content: $middle;
  justify-content: $middle;
}

@mixin center-content($layout: flex, $middle: center, $spacing: space-around) {
  display: $layout;
  align-content: $middle;
  justify-content: $spacing;
}

@mixin content-align($layout: flex, $middle: center, $column: column) {
  display: $layout;
  flex-direction: $column;
  align-items: $middle;
  justify-content: $middle;
}

/* CUSTOM CSS BEGINS */

// GLOBAL MODIFIERS:
body {
  background-color: $offwhite;
}

h1 {
  font-family: 'Poppins', sans-serif;
  font-weight: 900;
  font-size: 2em;
}

h3 {
  font-family: 'Poppins', sans-serif;
  font-weight: 600;
  font-size: 2em;
}

h4 {
  font-family: 'Poppins', sans-serif;
  font-weight: 600;
  font-size: 1.25em;
}

p {
  font-family: 'Poppins', sans-serif;
  font-weight: 400;
  font-size: 1em;
}

/* HOMESCREEN HEADER */
.logo-container {
  @include center;
  height: 20vh;
  margin-top: 5vh;
  margin-bottom: 5vh;
}

.logo-full {
  height: 100%;
  text-align: center;
}

/* HOMESCREEN MENU BUTTONS */
.menu-btn-top {
  @include center-content;
  height: 20vh;
}

.menu-btn-mid {
  @include center-content;
  height: 20vh;
}

.menu-btn-btm {
  @include center-content;
  height: 20vh;
}

.btn-container {
  @include content-align;
  height: 15vh;
  width: 15vh;
  border-radius: 10px;
  background: linear-gradient(145deg, #feffff, #d5dadc);
  box-shadow: 10px 10px 29px #a4a7a8, -10px -10px 29px #ffffff;
}

.btn-link {
  text-decoration: none;
  color: black;
}

.btn-icon {
  font-size: 4em;
  padding: 0.1em;
}

.fa-clock-o,
.fa-fire,
.fa-sliders {
  color: $red;
}

.fa-plus,
.fa-refresh {
  color: $blue;
}

#settingsIcon {
  color: $blue;
  font-size: 4em;
  padding: 0.1em;
}

/* TOP NAV FOR MOBILE */
.mobile-nav {
  @include center-content;
  padding: 2vh;
  flex-direction: row;
  height: 10vh;
}

.nav-btn-cont {
  @include nav-align;
  background-color: $blue;
  border-radius: 50px;
  height: 7vh;
  width: 7vh;
}

.nav-small-logo {
  height: 8vh;
}

.fa-cog,
.fa-home {
  font-size: 2em;
  color: white;
}

/* PAGE HEADERS ALIGNMENT */
.page-hdr {
  height: 8vh;
  @include center-header;
}

.section-sml-hdr {
  margin-top: 1em;
  @include center-header;
  height: 4vh;
}

/* TEMPERATURE DIAL */
.temp-dial-cont {
  @include center;
  height: 30vh;
}

/* HOUSE & ROOF INFO BEGINS */
.roofhouse-cont {
  background-image: url("../img/house-bg.svg");
  background-position: center;
  background-repeat: no-repeat;
  @include content-align;
  height: 30vh;
}

.roof-temp-text {
  margin-top: 0.5em;
  color: $red;
  font-size: 3.5em;
}

.house-temp-text {
  margin-top: 0.5em;
  color: $blue;
  font-size: 3.5em;
}

/* FAN SLIDER CSS */
.fan-slider-cont {
  @include center;
  height: 10vh;
}

.slide-cont {
  width: 80%;
}

.slider {
  -webkit-appearance: none;
  width: 100%;
  height: 15px;
  border-radius: 5px;
  background: #d3d3d3;
  box-shadow: 10px 10px 29px #a4a7a8, -10px -10px 29px #ffffff;
  outline: none;
  opacity: 0.7;
  -webkit-transition: 0.2s;
  transition: opacity 0.2s;
}

.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background: $blue;
  box-shadow: 10px 10px 29px #a4a7a8, -10px -10px 29px #ffffff;
  cursor: pointer;
}

.slider::-moz-range-thumb {
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background: $blue;
  box-shadow: 10px 10px 29px #a4a7a8, -10px -10px 29px #ffffff;
  cursor: pointer;
}

.fan-labels {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 2vh;
}

.fan-labels {
  p {
    color: black;
  }
}
/* FAN SLIDER CSS ENDS */

/* BLADE BUTTON CSS */
.blade-btns {
  @include center-content;
  height: 10vh;
}

.blade-btn {
  @include nav-align;
  height: 8vh;
  width: 8vh;
  border-radius: 10px;
  background: $offwhite;
  box-shadow: 5px 5px 29px #a4a7a8, -5px -5px 29px #ffffff;
}
/* AUTO & TURBO MODE BUTTONS */
.auto-cont,
.turbo-cont {
  margin-top: 1em;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 10vh;
}

.auto-mode-btn,
.turbo-mode-btn {
  @include nav-align;
  width: 80%;
  background-color: grey;
  height: 8vh;
  border-radius: 30px;
}

.btn-text {
  color: $offwhite;
}

// MEDIA QUERRIES

@media only screen and (min-width: 700px) {
  /* For tablet: */
  .btn-cont,
  .fan-section,
  .blade-section {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .menu-btn-top,
  .menu-btn-mid,
  .menu-btn-btm,
  .fan-slider-cont,
  .blade-cont  {
    width: 60%;
  }

  .auto-mode-btn,
  .turbo-mode-btn {
    width: 50%;
  }
}

@media only screen and (min-width: 1000px) {
  /* For desktop: */
  .btn-text,
  h4 {
    font-size: 1.5rem;
  }

  .fan-section,
  .blade-section {
    margin: 2vh;
  }
}
